@import 'susy';
@import 'breakpoint';

$susy: (
	columns: 12,
	gutters: 1/4,
	math: fluid,
	output: float,
	gutter-position: inside,
);

body{
	background: #fff;
	@include container(80%);
}

h1{
	margin: 0 auto;
	color: #666;
}

p{
	font-size: 20px;
}

main{
	@include span(8);
}

aside{
	@include span(4 at 9);
}